.contact-item {
  width: 50%;
  margin: 10px auto;
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #888;
  box-sizing: border-box;
}