.Input {
  outline: none;
  border: 1px solid #ccc;
  background-color: white;
  font: inherit;
  padding: 6px 10px;
  margin: 10px auto;
  display: block;
  width: 80%;
  box-sizing: border-box;
}
.Input:focus {
  outline: none;
  background-color: #ccc;
}
.photo-img {
  width: 80%;
  height: auto;
  margin: 20px auto 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.photo-img span {
  margin: 0 30px;
}
.photo-img img {
  background-size: cover;
}